<div class="widget-wrapper"> 
<div class="footer-widget">
   <div class="footer-icon"><img src="{{#if @blog.logo}}{{@blog.logo}}{{else}}/assets/images/header-icon.png {{/if}}"  alt="{{@blog.title}}"/></div>
   <p>Iron Blog is a clean and creative Ghost Blogging Theme, created for people with life passion in blogging. Iron Blog is very simple and clean template. Just change your Text, Image and Colors and get your desire website. </p>
   <ul class="footer-social list-inline">
      <li class="list-inline-item">
         <a href="{{facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li class="list-inline-item">
         <a href="{{twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
   </ul>
  </div>
</div>

