<div class="widget-wrapper"> 
<div class="footer-widget">
   <div class="footer-icon"><img src="{{#if @blog.logo}}{{@blog.logo}}{{else}}/assets/images/tan_logo 1.png {{/if}}" width="150px" alt="{{@blog.title}}"/></div>
   <p>TalkAmNaija is a social enterprise and largely a non-for-profit organisation. We are a team of young and very motivated people. We are concerned Nigerians aiming to contribute to our nascent democracy and promote an inclusive society.  </p>
   <ul class="footer-social list-inline">
      <li class="list-inline-item">
         <a href="{{facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li class="list-inline-item">
         <a href="{{twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li class="list-inline-item">
         <a href="{{linkedin_url}}"><i class="fa fa-linkedin bg-dark" aria-hidden="true"></i></a>
      </li>
   </ul>
  </div>
</div>

